    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Proyectos</h2>
                    <p>Bussinesstech. Proyecto desarrollado en Django</p>
                    <a href="http://www.bussinesstech.com" class="btn btn-default btn-lg" target="_blank">Businesstech</a>
                    <p>Ejercicios de JavaScript</p>
                    <a href="https://github.com/seethersan/tareas" class="btn btn-default btn-lg" target="_blank">JavaScript</a>
                    <p>Implementación ERPNEXT en la empresa Zures Inversiones E.I.R.L.</p>
                    <a href="http://www.comercialespinoza.com" class="btn btn-default btn-lg" target="_blank">Comercial Espinoza</a>
                </div>
            </div>
        </div>
    </section>