    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Proyectos</h2>
                    <p>Gandi Client. Proyecto desarrollado en Django, usa Mezzanine CMS y Cartridge project para montar una pequeña tienda virtual de Dominios conectandose con la API de Gandi</p>
                    <a href="https://github.com/seethersan/gandi-client" class="btn btn-default btn-lg" target="_blank">Gandi Client</a>
                    <p>Twitter. Pequeño proyecto elaborado en Django que emula twitter</p>
                    <a href="https://github.com/seethersan/twitter" class="btn btn-default btn-lg" target="_blank">Twitter Test</a>
                    <p>JavaScript</p>
                    <a href="/javascript" class="btn btn-default btn-lg">JavaScript</a>
                    <p>Implementación ERPNEXT en la empresa Zures Inversiones E.I.R.L. modificado para generación de ticket boleta y ticket factura segun las especificaciones de la SUNAT</p>
                    <a href="http://www.comercialespinoza.com" class="btn btn-default btn-lg" target="_blank">Comercial Espinoza</a>
                    <p>Implementación ERPNEXT en el Colegio Cristiano Pionero de Lima que incluye un modulo de mi autoria para la generación de los libros electronicos de compras y de ventas segun las especificaciones de la SUNAT</p>
                    <a href="http://www.comercialespinoza.com" class="btn btn-default btn-lg" target="_blank">Comercial Espinoza</a>
                </div>
            </div>
        </div>
    </section>