    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Javascript</h2>
                    <a href="/javascript/ahorcado" class="btn btn-default btn-lg">Ahorcado</a>
                    <a href="/javascript/canvas" class="btn btn-default btn-lg">Canvas</a>
                    <a href="/javascript/pokemon" class="btn btn-default btn-lg">Pokemon</a>
                    <a href="/javascript/jankenpo" class="btn btn-default btn-lg">Jankenpo</a>
                    <a href="/javascript/tifis" class="btn btn-default btn-lg">Tifis</a>
                </div>
            </div>
        </div>
    </section>