<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Dibujando</title>
	<script type="text/javascript" src="/js/canvas/canvas.js"></script>
</head>
<section id="about" class="container content-section text-center">
	<h2>Dibujando con canvas</h2>
	<canvas width="300" height="300" id="dibujo"></canvas>
	<p>Seleccione cantidad de lineas para el gráfico</p>
	<input style="color: black" type="text" id="lineas"/>
	<p>Seleccione gráfico</p>
	<input style="color: black" type="button" id="grilla" value="Grilla"/>
	<input style="color: black" type="button" id="diagonal" value="Diagonal"/>
	<input style="color: black" type="button" id="circulos" value="Circulos"/>
	<input style="color: black" type="button" id="clear" value="Limpiar canvas"/>
	<script type="text/javascript">inicio();</script>
</section>
</html>